.container {
	width: 1000px;
}

body {
	background: black;
	color: #696969;
}

header {
	padding-top: 0.6em;
}

header img {
	padding: 0em;
	background: black;
}

section {
	margin-top: 0em;
	font-size: 100%;
	padding: 0px;
	background: black;

}

section h1 {
	font-size: 140%;
	color: #B8860B;
}

/* Links */

a {
	text-decoration: none;
}

h:hover {
	text-decoration: underline;
}

a:visited {
}

/* Navigation */

nav {
	float: right;
}


nav {
	background-color: black;
	padding: 0 0.7em;
	border-width: 2px;
	border-color: #696969;
	white-space: nowrap;
}

nav#top {
	border-top-style:solid;
	position: relative;
	top:-55px;
	left: -55px;
}

nav#bottom {
	border-bottom-style:solid;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
	color: #708090;
}
nav ul li a:visited {
}
nav ul li a:hover {
	text-decoration: underline;
	color: #708090;
}
nav ul li a:active {
color: white;
}




/* Sign up button*/
a.signup_button { 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	text-align: center; 
	width: 190px; 
	background: #006400; 
	font-size: 150%; 
	font-weight: bold; 
	padding: 20px;
}

/* Round corners */
.round {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

/* FOOTER */
footer {
	text-align: center;
	margin-top: 10px;
	width: 710px;
	margin-left: auto;
	margin-right:auto;
}

footer nav {
	float: none;
}